<!DOCTYPE>
<html>
<head>
	<title>{{name}}'s Resume</title>

	<link rel="stylesheet/less" type="text/css" href="/assets/style.less">
	<script src="/assets/less-1.3.0.min.js" type="text/javascript"></script>
</head>
<body>

	<div class="main-wrap">

		<div class="header">
			{{#gravatar}}
				<img src="{{url}}?size={{size}}" />
			{{/gravatar}}

			<h1 class="name">{{name}}</h1>
			<h2 class="title"></h2>

			<dl class="dl-horizontal">
				{{#contact}}
					{{#url}}
						<dt>{{name}}</dt>
						<dd><a href="{{data}}">{{data}}</a></dd>
					{{/url}}
					{{#email}}
						<dt>{{name}}</dt>
						<dd><a href="mailto:{{data}}">{{data}}</a></dd>
					{{/email}}
					{{#phone}}
						<dt>{{name}}</dt>
						<dd>{{data}}</dd>
					{{/phone}}
				{{/contact}}
			</dl>
		</div>

		<div class="resume">
			{{{resume}}}
		</div>

		<div class="footer">
			<p>Available for download in <a href="https://raw.github.com/gist/62404e44cc5d8052eea5/da4821ac65e7854d5fd5ef79852a0ff4137b9429/resume.md">Markdown</a>.</p>
		</div>
		
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script src="/assets/main.js" type="text/javascript"></script>
</body>
</html>